body {
    background: linear-gradient(#55203d, #551351);
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% 0;
}

.container {
    background-color: #1f1520;
    padding: 30px;
    margin: auto;
    max-width: 80%;
    border-radius: 5%;
}

h1 {
    color: #ffffff;
    text-align: center;
}

h2 {
    color: #ffffff;
    border-bottom: solid;
    padding-bottom: 25px;
}

p {
    color: #ffffff;
    font-size: 24px;
    line-height: 1;
}

.image-box {
    text-align: center;
    margin: 5% 0;
}

img {
    width: auto;
    border-radius: 30% 15%;
    filter: drop-shadow(0 0 0.90rem#e63bd7);
}

ul {
    list-style-type: circle;
    padding-left: 5% 0;
}

li {
    color: #ffffff;
    margin-bottom: 10% 0;
}

a {
    color: #ffffff;
    text-decoration: underline dotted;
}

a:hover {
    text-decoration: underline;
}
